.post-list{
 width: 100vh;
}
.post{
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.16);
  background: linear-gradient(198deg, #59de86 0%, #59debd 30%, #59c8de 100%);
  border-radius: 16px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.3px);
  -webkit-backdrop-filter: blur(8.3px);
  border: 1px solid rgba(0, 0, 0, 0.2);


  padding: 20px 40px;

  height: 200px;
  margin-bottom: 40px;
}
