
<link rel="stylesheet" href="https://unpkg.com/7.css">
<div class="wrapper">
  <nav id="sidebar" class="sidebar-background" [class.active]="sidebarActive">
    <div class="sidebar-content">

       <a class="sidebar-button" href="#">Portfolio</a>
       <a class="sidebar-button" href="#">Contact</a>

      <div class="sidebar-footer">
        Blourg.com
      </div>
    </div>

  </nav>

  <div id="content">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid sidebar-button">
        <a type="button" (click)="toggleSidebar()" class="btn btn-info">
          <div class="borger-menu"></div>
          <div class="borger-menu"></div>
          <div class="borger-menu"></div>
          <i class="fas fa-align-left"></i>
        </a>
      </div>
    </nav>
  </div>
  <div class="content-wrapper">
    <app-post-list></app-post-list>
  </div>
  <div class="profile-bar">
    <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_640.png" class="profile-picture-frame" alt="Profile">
    <a class="profile-bar-component sidebar-button">New Post</a>
    <a class="profile-bar-component sidebar-button">Settings</a>
  </div>


</div>
