<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Create new post - blourg.com</title>
  <link type="text/css" rel="stylesheet" href="/src/bootstrap.css">
</head>
<body>

</form>
<form id="form" hx-post="/posts" hx-target="#form" hx-swap="outerHTML">
  <input class="input-group-text" type="text" name="title" placeholder="Title..." required><br>
  <textarea class="input-group-text" name="body" placeholder="Body..." required></textarea>
  <input class="btn btn-primary" type="submit" value="Create post">
  <a class="btn btn-outline-secondary" href="/">Back</a>
</form>
<script src="https://unpkg.com/htmx.org"></script>
</body>
</html>