<!DOCTYPE html>
<html lang="en">
<head>
  <script src="https://unpkg.com/htmx.org@2.0.3/dist/htmx.js" integrity="sha384-BBDmZzVt6vjz5YbQqZPtFZW82o8QotoM7RUp5xOxV3nSJ8u2pSdtzFAbGKzTlKtg" crossorigin="anonymous"></script>
  <meta charset="UTF-8">
  <title>Blourg.com</title>
</head>
<body>
Welcome to Blourg.com, one of the blog posting websites across the world.
<div id="auth-links">
  <a href="/users/logout" hx-get="/auth-links" hx-target="#auth-links" hx-trigger="load">Loading...</a>
</div>

<!-- Modal -->
<div id="modal" class="modal">
  <div class="modal-content" id="modal-content">
    <span class="close" id="closeModal">&times;</span>
    <!-- The form content will be swapped here -->
  </div>
</div>

<br/>

<form hx-post="/posts" method="POST">
  <div id="post-creation-form">
    <input type="text" class="form-control" name="username" placeholder="Username" required>
    <input type="text" class="form-control" name="title" placeholder="Title" required>
    <input type="text" class="form-control" name="body" placeholder="Body" required>
  </div>
  <div class="mt-2">
    <button type="submit" class="btn btn-primary">Save</button>
  </div>
</form>

<div hx-get="/posts" hx-trigger="load">
</div>

</body>
</html>